[2019-12-31 21:30] weierophinney opened #1 "Input filter specification and merging"
Now it is not possible to use input filter merging on input filters created from specification. Merging saves plenty of time when dealing with many input filters. I suppose extending `Factory` class to enable merging.

### Specification example

[code]
What is your opinion?

---

Originally posted by @vaclavvanik at https://github.com/zendframework/zend-inputfilter/issues/178

[2019-12-31 21:30] weierophinney opened #2 "How use Callback validator when field is conditionally required?"
I have two fields and one of them is required if the value of the other is equal to one condition.

How can I do this?

The "campaignFranchise" field is only required when the value of the "campaign" is equal to "franchise".
<pre>
            4 => [
                'required' => true,
                'validators' => [
                    0 => [
                        'name' => NotEmpty::class,

[2019-12-31 21:30] weierophinney commented on #2
hmm there is no feature for this I guess but you can use validationGroup and override isValid method of inputFilter something like this should work(not tested):

[code]

---

Originally posted by @svycka at https://github.com/zendframework/zend-inputfilter/issues/146#issuecomment-319062992

[2019-12-31 21:30] weierophinney commented on #2
Example for you.

Use-case, an Entity can have child Entity Coordinates. Coordinates exists out of both _latitude_ and _longitude_. Coordinates can only exist if both are present and must not be created if only one property is set.

[code]

---

Originally posted by @rkeet at https://github.com/zendframework/zend-inputfilter/issues/146#issuecomment-405715408

[2019-12-31 21:30] weierophinney opened #3 "Validation group not applied correctly when validating a CollectionInputFilter"
While debugging a problem when validating a complex form containing collections and validation groups to limit the fields that are being validated I notice the following code in `CollectionInputFilter`:

[code]

If the `CollectionInputFilter` has a validation group then the validation group is indexed using the same key as the data. A validation group is assigned like this:

[code]

Now, for the f

[2019-12-31 21:30] weierophinney commented on #3
Yep really strange, but can be used like this:

[code]

Okay I am not sure this is desired behavior nor use case for this, but well can't think otherwise why setValidationGroup() is called in every foreach loop. And also there is a test for this so can't be fixed?
also data being array of 3 elements will throw `Undefined offset: 2`

@weierophinney what do you think? If this is a bug I can create P

[2019-12-31 21:30] weierophinney opened #4 "[WIP] [ZF3] Refactor filter"
This issue has been moved from the `zendframework` repository as part of the bug migration program as outlined here - http://framework.zend.com/blog/2016-04-11-issue-closures.html

---

Original Issue: https://api.github.com/repos/zendframework/zendframework/issues/5097
User: @bakura10
Created On: 2013-09-09T19:01:52Z
Updated At: 2014-09-28T00:34:45Z
Body
As asked by @weierophinney on IRC, I shoul

[2019-12-31 21:30] weierophinney opened #5 "[WIP] [ZF3] Refactor input filter component"
This issue has been moved from the `zendframework` repository as part of the bug migration program as outlined here - http://framework.zend.com/blog/2016-04-11-issue-closures.html

---

Original Issue: https://api.github.com/repos/zendframework/zendframework/issues/4772
User: @bakura10
Created On: 2013-07-02T12:52:46Z
Updated At: 2014-09-28T00:34:50Z
Body
Hi everyone,

This is a branch I'm working

[2019-12-31 21:30] weierophinney commented on #5
@bakura10 , @weierophinney

I think validators should always be run before the filters.

Four years ago, I had an issue with the `DateTimeFormatter` filter. I haven't tested whether this issue still occurs (this should always be, if I rely on the its code), the `DateTimeFormatter` filter raised an error because the value wasn't a date, and it could not convert it. This issue occurred because it tr

[2019-12-31 21:30] weierophinney commented on #5
Dates and files are special cases. Most other _form_ data often can have superfluous characters and/or require some form of casting before it can be tested for validity. As examples:

- radio buttons that need to evaluate to booleans
- phone numbers (which can be formatted numerous ways, even within the same country)
- credit card numbers (where white space or hyphens are irrelevant, yet often inc

[2019-12-31 21:30] weierophinney commented on #5
There is no radio button validator. If you are talking about the `Radio` element of `Zend\Form`, it uses the `InArray` validator which already casts data internally, as it's a requirement for this validator. Instead of running filters before validation for this use case, I would rather say "this validator depends on a filter", and therefore, inject the filter as a dependency for this validator.

S

[2019-12-31 21:30] weierophinney commented on #5
@Seryus

This sentence is irrelevant, because zend-inputfilter does not force you to use a filter to remove the whitespace. It's your choice!

A simple example: a text field for the age of a person. Many values are possible:
(`_` for whitespace)

1. `40`
2. ` _40`
3. `40_`
4. `_40_ `

With pre-filtering all values will pass the validator.
Without pre-filtering only the number 1. will pass the vali

[2019-12-31 21:30] weierophinney commented on #5
@froschdesign
Indeed, filtering before validation is more user-friendly in this case, but this is not the normal behavior. If you test these values in a `input[type="number"]`, only the number 1 will pass form submission.

---

Originally posted by @ghost at https://github.com/zendframework/zend-inputfilter/issues/111#issuecomment-328093757

[2019-12-31 21:30] weierophinney commented on #5
@Seryus

**Never trust any input!** You do not know if the value comes from this form field.

---

Originally posted by @froschdesign at https://github.com/zendframework/zend-inputfilter/issues/111#issuecomment-328095840

[2019-12-31 21:30] weierophinney commented on #5
@froschdesign
Of course, this was just a comparison with existing features.

---

Originally posted by @ghost at https://github.com/zendframework/zend-inputfilter/issues/111#issuecomment-328101544

[2019-12-31 21:30] weierophinney commented on #5
Filtering should always come before validation, otherwise, validation may pass pre-filtering, but fail post-filtering.

---

Originally posted by @GeeH at https://github.com/zendframework/zend-inputfilter/issues/111#issuecomment-328445880

[2019-12-31 21:30] weierophinney commented on #5
@GeeH depends on use case. I had situations when I had to change the value after validation, but also had situations when I had to normalize input to validate. So to have both would be perfect.

---

Originally posted by @svycka at https://github.com/zendframework/zend-inputfilter/issues/111#issuecomment-328490471

[2019-12-31 21:30] weierophinney commented on #5
@GeeH
To me, filters are there to secure user inputs and/or to convert them into values that we will work with. Put a filter that will make the validation failed has no meaning.

When I code, I write:
[code]
and not:
[code]

---

Originally posted by @ghost at https://github.com/zendframework/zend-inputfilter/issues/111#issuecomment-328523153

[2019-12-31 21:30] weierophinney commented on #5
I think you need to consider that the framework is written for the 90% usecase and not for your specific uses. I agree, your examples are totally valid, but what you are talking about is type casting and not filtering here. Considering that all form data gets passed as a string, your example of using `is_int` as a validator would be useless anyway.

I'm not saying that there are no situations when

[2019-12-31 21:30] weierophinney commented on #5
@GeeH

The milestone for this issue is 3.0.0 and so BC breaks are allowed. 😃
It would be great if an input filter configuration of version 2 also works in version 3.

---

Originally posted by @froschdesign at https://github.com/zendframework/zend-inputfilter/issues/111#issuecomment-328768777

[2019-12-31 21:30] weierophinney commented on #5
@GeeH
Type casting is a form of filtering.
I can't see any valid example of the need to perform the whole filtering process prior to validation, that's what I'm trying to say. Could you give me one valid use case ?

---

Originally posted by @ghost at https://github.com/zendframework/zend-inputfilter/issues/111#issuecomment-328776112

[2019-12-31 21:31] weierophinney commented on #5
@Seryus
See my example above with the age of a person. This is a typical and valid use case. Or what do you mean?

---

Originally posted by @froschdesign at https://github.com/zendframework/zend-inputfilter/issues/111#issuecomment-328785524

[2019-12-31 21:31] weierophinney commented on #5
In your example, the validator won't validate the user input, it will validate the filter output. If the validation passes, the user won't be notified that its input was wrong and has been modified. For this reason, filtering before validation is a bad pratice.

Of course, if the field expects to get the age of a person, whitespaces were probably not wanted. In this case, it would be better to con

[2019-12-31 21:31] weierophinney commented on #5
Without pre-filtering you will generate frustration on the user side. One whitespace at the beginning of an email address, a whitespace in the middle of a bank account number, empty lines at the end of a user message and so on.
Pre-filtering should help the user, that's the goal. On the other side pre-filtering should not convert the input to pass any validator!
Therefore I like and prefer @weiero

[2019-12-31 21:31] weierophinney commented on #5
I would prefer to use the HTML5 form input or JavaScript to avoid this frustration on the user side.

About allowing whitespaces in email validator, I meant if the developer wants, it can do so by extending the Zend Validator and using dependency injection. We shouldn't allow whitespaces in the validator in general.

However, I understand your point.

So if we rename it and add post-filtering, sho

[2019-12-31 21:31] weierophinney commented on #5
You can not trust the client side, because you don't know them.

In my opinion a new component should not the first goal. I will quote myself:

Add your ideas here or provide a some code snippets. For example:

* the internal workflow of the input filter
* the new configuration structure
* …

Please look also at the [RFC for the new validator component](https://discourse.zendframework.com/t/rfc-ne

[2019-12-31 21:31] weierophinney commented on #5
@Seryus
Btw. you can also use the forum: https://discourse.zendframework.com/

---

Originally posted by @froschdesign at https://github.com/zendframework/zend-inputfilter/issues/111#issuecomment-329375523

[2019-12-31 21:31] weierophinney commented on #5
I'm looking at it, I didn't know this forum existed, thank you!

---

Originally posted by @ghost at https://github.com/zendframework/zend-inputfilter/issues/111#issuecomment-329506883

[2019-12-31 21:31] weierophinney opened #6 "[RFC] Replace Input with a chain of callbacks."
I started to think the best way of build a custom pipe of filters and validators where you can filter after validation, etc.

I propose replace `Zend\InputFilter\Input` with a custom chain of methods like A+ promises.

For resume A+ promises have the following main properties along others I won't detail here:
- has the shape of `then(callback success = null, callback error = null)`
- success chain

[2019-12-31 21:31] weierophinney commented on #6
In which context do you want to create and execute the chain. I think this could lead to heavy objects, because there are so much dependencies (Hydrator, Validator, Filter,  ...).

And in my opinion the code is really hard to read.

But aside of this, it could be a great feature.

---

Originally posted by @zf2timo at https://github.com/zendframework/zend-inputfilter/issues/87#issuecomment-1732001

[2019-12-31 21:31] weierophinney commented on #6
Chain can be created from static methods and added to input filters

[code]

About the code legibility this is as easy as use local vars or refactor dependent components for be API compatible.

[code]

About the dependencies, there is no dependencies, just callables.

---

Originally posted by @Maks3w at https://github.com/zendframework/zend-inputfilter/issues/87#issuecomment-173212144

[2019-12-31 21:31] weierophinney commented on #6
Note this way of make chains could replace or remove ValidatorChain and FilterChain classes

---

Originally posted by @Maks3w at https://github.com/zendframework/zend-inputfilter/issues/87#issuecomment-173213893

[2019-12-31 21:31] weierophinney commented on #6
while I like the idea of replacing `*Chain` classes with pipes of callbacks, I'm not keen on using A+ promises terminology for something that is not async at all. It may be confusing for people not familiar with such concepts, and it feels like mixing apples and oranges.

---

Originally posted by @stefanotorresi at https://github.com/zendframework/zend-inputfilter/issues/87#issuecomment-186176094

[2019-12-31 21:31] weierophinney commented on #6
Well, who said this things could not be async in the future or with alternative PHP engines.

---

Originally posted by @Maks3w at https://github.com/zendframework/zend-inputfilter/issues/87#issuecomment-186380547

[2019-12-31 21:31] weierophinney commented on #6
If that was the actual intention, I'd rather have the input filter wrapped in a promise via a dedicated implementation like reactphp/promise, or introduce a new zend component for that purpose, but then again... why would you do that?
A promise-like interface has many aspects that are not that useful in this particular case, all you want to do is just pass an array through a stack of callbacks...

[2019-12-31 21:31] weierophinney opened #7 "[bc\break] Remove deprecated and validators auto injections"
- Remove AllowEmpty / ContinueIfEmpty deprecated on 2.4.8.
  Zend\Validator\NotEmpty should be added to the ValidatorChain when expected.
- Remove UploadFile validator auto injection
  Zend\Validator\File\UploadFile should be added to the ValidatorChain when expected.

ToDo:
- [x] review coverage drop when uncovered lines grow

---

Originally posted by @Maks3w at https://github.com/zendframework/

[2019-12-31 21:31] weierophinney commented on #7
Code coverage drop its for a difference between phpunit code coverage versions.

---

Originally posted by @Maks3w at https://github.com/zendframework/zend-inputfilter/pull/83#issuecomment-165884000

[2019-12-31 21:31] weierophinney commented on #7
@Maks3w can you drop into the summary how users can emulate the behavior using validators? Most will likely see this issue, see that the functionality was removed, but not know how to accomplish the behavior on their own.

Which brings me to the next point: can you start a migration/changes document detailing the change in behavior, please?

---

Originally posted by @weierophinney at https://gith

[2019-12-31 21:31] weierophinney commented on #7
@Maks3w Are you still working on this?

---

Originally posted by @DASPRiD at https://github.com/zendframework/zend-inputfilter/pull/83#issuecomment-217743425

[2019-12-31 21:31] weierophinney commented on #7
I'm not sure if continue with this or rewrite the component. There is not urgency for to merge this

---

Originally posted by @Maks3w at https://github.com/zendframework/zend-inputfilter/pull/83#issuecomment-217747089

[2019-12-31 21:31] weierophinney opened #8 "ZF3 - type issue field for fieldsets or nested input filter"
_This issue describes a  problem with the ZF2 input filtering that I would like to be fixed in the future ZF3 solution for input filtering._

Our preferred solution for building input filters in our application is by using config arrays and generating them through [the input filter factory class](https://github.com/zendframework/zend-inputfilter/blob/master/src/Factory.php). We often have nested i

[2019-12-31 21:31] weierophinney commented on #8
I have the same problem. I hope this will be solved soon.

---

Originally posted by @macabot at https://github.com/zendframework/zend-inputfilter/issues/81#issuecomment-171270238

[2019-12-31 21:31] weierophinney opened #9 "Inputfilter getValues() returns the field which is not in input data"
[code]

Expected Output:

[code]

[code]

Unexpected (or it is intentional?)  Output:

[code]

---

Originally posted by @metanav at https://github.com/zendframework/zend-inputfilter/issues/66

[2019-12-31 21:31] weierophinney commented on #9
Related to https://github.com/zendframework/zf2/issues/7440

---

Originally posted by @Maks3w at https://github.com/zendframework/zend-inputfilter/issues/66#issuecomment-137972236

[2019-12-31 21:31] weierophinney commented on #9
One possible option is to add an argument to `getValues()` for to return all inputs or only the inputs with data set.

---

Originally posted by @Maks3w at https://github.com/zendframework/zend-inputfilter/issues/66#issuecomment-137972377

[2019-12-31 21:31] weierophinney commented on #9
Another option is add a new method for return only the fields with data (method name is more expressive rather than arguments values).

---

Originally posted by @Maks3w at https://github.com/zendframework/zend-inputfilter/issues/66#issuecomment-137972587

[2019-12-31 21:31] weierophinney commented on #9
That would not stop input filter to do filtering of the input which is not set.  The new method would just do one more filtering of unset data.

---

Originally posted by @metanav at https://github.com/zendframework/zend-inputfilter/issues/66#issuecomment-137973363

[2019-12-31 21:31] weierophinney opened #10 "Feature/required validator"
These allows manage the required message like any other ValidatorInterface element.

Note: While you can add the validator manually the flag `setRequired` must be set too

[code]

[code]

Note: `setRequired(false)` may not be enough and you will need remove the validator from the chain.

---

Originally posted by @Maks3w at https://github.com/zendframework/zend-inputfilter/pull/62

[2019-12-31 21:31] weierophinney commented on #10
Inject a validator in the chain make difficult reset the input state for to validate different values or transititions set <=> not set

---

Originally posted by @Maks3w at https://github.com/zendframework/zend-inputfilter/pull/62#issuecomment-137586919

[2019-12-31 21:31] weierophinney commented on #10
I haven't tried running this yet, but I like the idea.

Why must "the flag setRequired" be set when adding the validator manually? Wouldn't it be better to just deprecate the flag?

---

Originally posted by @larsnystrom at https://github.com/zendframework/zend-inputfilter/pull/62#issuecomment-147069548

[2019-12-31 21:31] weierophinney commented on #10
Because the validator does not validate the input value (https://github.com/zendframework/zend-inputfilter/pull/62/files#diff-5e41c64803af5c0ad8ad84c3e25c834cR412)

I didn't resolve how to make to replace the whole required funcionallity with the validator.

This is needed too https://github.com/zendframework/zend-inputfilter/blob/master/src/BaseInputFilter.php#L253

---

Originally posted by @Mak

[2019-12-31 21:31] weierophinney commented on #10
Hmm, yeah that's true. Do you think it would be possible to use the $data array as $context instead of the raw values? That would enable the Required-validator to check whether a key exists without having a reference to the input object.

You would have to inject the input's name in the Required-validator's constructor as well, so the validator knew which key to look for.

What do you think?

---

[2019-12-31 21:31] weierophinney commented on #10
IIRC  every input is present in $context with the default value of null.

---

Originally posted by @Maks3w at https://github.com/zendframework/zend-inputfilter/pull/62#issuecomment-147071805

[2019-12-31 21:31] weierophinney commented on #10
Also rely on $context makes the input dependant of InputFilter implementation and can't be used standalone.

---

Originally posted by @Maks3w at https://github.com/zendframework/zend-inputfilter/pull/62#issuecomment-147071844

[2019-12-31 21:31] weierophinney commented on #10
The problem is that they're initialized to null. Null is still a value, and would pass the required-validator. So we need the original input data, where the the input is not present.

I don't think relying on $context makes the Input dependent on the InputFilter implementation. The `Input::isValid()` method is already accepting a $context parameter. We can control the default value of that paramet

[2019-12-31 21:31] weierophinney commented on #10
Even if looking in $context is needed to know what input name to search.

---

Originally posted by @Maks3w at https://github.com/zendframework/zend-inputfilter/pull/62#issuecomment-147074223

[2019-12-31 21:31] weierophinney commented on #10
Yes, that's why the input's name must be injected into the validator. If you add a `RequiredValidator::setName()` method, it will be compatible with the plugin manager.

---

Originally posted by @larsnystrom at https://github.com/zendframework/zend-inputfilter/pull/62#issuecomment-147075451

[2019-12-31 21:31] weierophinney commented on #10
I start to think the best option could be to have 2 validator chains. One for validate the data and another one for validate the input state.

Something like this
- Is required or not (RequiredValidator::isValid(input))
- Data is valid or not (DataValidator::isValid(Input))
  - Data is valid because has X characters (FooValidator::isValid(data))
  - Data is valid because exists on DB

---

Origina

[2019-12-31 21:31] weierophinney commented on #10
I just realized that my idea doesn't work. (The absence of a Required-validator wouldn't be equivalent to `setRequired(false)`, since `setRequired(false)` implies not running any validators, but an absent Required-validator wouldn't give any information concerning whether to run the other validators.)

Two validator chains might be a good idea.

---

Originally posted by @larsnystrom at https://gi

[2019-12-31 21:31] weierophinney commented on #10
IMO, if we are going to have a `Required` validator, then we really can't also have a `required` flag without causing confusion.

---

Originally posted by @akrabat at https://github.com/zendframework/zend-inputfilter/pull/62#issuecomment-147179872

[2019-12-31 21:31] weierophinney commented on #10
I agree with @akrabat

---

Originally posted by @stefanotorresi at https://github.com/zendframework/zend-inputfilter/pull/62#issuecomment-147453440

[2019-12-31 21:31] weierophinney commented on #10
I also agree with that. Right now it seems like the only way to implement a `Required` validator and not keep the `required` flag is to implement two validator chains, like Maks3w suggested.

I'm not sure if that's a good idea or not.

---

Originally posted by @larsnystrom at https://github.com/zendframework/zend-inputfilter/pull/62#issuecomment-147469117

[2019-12-31 21:31] weierophinney commented on #10
For to make this works seems It's needed a flag for "break the chain on success" for the ValidatorChain and create an OptionalValidator.

Thoughts? I think its reasonable to have `break_chain_on_success` and `break_chain_on_failure`

---

Originally posted by @Maks3w at https://github.com/zendframework/zend-inputfilter/pull/62#issuecomment-147642746

[2019-12-31 21:31] weierophinney commented on #10
I think we should merge #67 and #73 now since those won't cause any BC breaks.

Then I think we should do a more thorough refactorization for version 3.0.

In 3.0 I hope we can remove the `required` attribute altogether, make `null` equivalent to a missing value (thus leaving all validation to the normal validator chain), and have an `optional` attribute which defaults to false (`optional` can nev

[2019-12-31 21:31] weierophinney commented on #10
I don't see this as a BC Break because the translation feature seems never has work. Anyway the purpose of this PR is discuss about the required / optional field concept

---

Originally posted by @Maks3w at https://github.com/zendframework/zend-inputfilter/pull/62#issuecomment-147652527

[2019-12-31 21:31] weierophinney commented on #10
I was serious in my last post where I suggested we completely get rid of the required flag and add an optional flag. That would be a BC break, but a lot simpler to maintain than two different validator chains.

---

Originally posted by @larsnystrom at https://github.com/zendframework/zend-inputfilter/pull/62#issuecomment-147655051

[2019-12-31 21:31] weierophinney commented on #10
that's not correct, it worked prior to 2.4.

---

Originally posted by @stefanotorresi at https://github.com/zendframework/zend-inputfilter/pull/62#issuecomment-147659542

[2019-12-31 21:31] weierophinney commented on #10
@stefanotorresi Prior to 2.5.2/2.4.5 there was not a required message.

---

Originally posted by @Maks3w at https://github.com/zendframework/zend-inputfilter/pull/62#issuecomment-147662601

[2019-12-31 21:31] weierophinney commented on #10
it was handled by the notEmpty validator, which was always injected for required inputs before `continue_if_empty` and `allow_empty` flags were deprecated.

---

Originally posted by @stefanotorresi at https://github.com/zendframework/zend-inputfilter/pull/62#issuecomment-147666605

[2019-12-31 21:32] weierophinney commented on #10
I really like this approach, but I share the same concern voiced by @akrabat — unless the `required` flag is tied to the `Required` validator, we're going to have a lot of confusion.

It seems like this is _mostly_ the case right now, though; `isValid()` auto-prepends the validator if the `$required` flag is true. It's the other side of the equation we need, however: `isRequired()` should return t

[2019-12-31 21:32] weierophinney commented on #10
Moved to 2.7.0 milestone; we're ready for 2.6.0 (zend-servicemanager forwards-compatibility).

---

Originally posted by @weierophinney at https://github.com/zendframework/zend-inputfilter/pull/62#issuecomment-185886963

[2019-12-31 21:32] weierophinney commented on #10
I keep thinking in new ways for make this better.  Probably with something like #87

---

Originally posted by @Maks3w at https://github.com/zendframework/zend-inputfilter/pull/62#issuecomment-185970268

[2019-12-31 21:32] weierophinney opened #11 "Roadmap for V3 and V4"
Proposal of roadmap for next major versions.

V3:
V3 should silently fail if any deprecation feature is used. i.e. No file/method removal/rename is allowed.
- [x] Deprecate Continue If Empty & AllowEmpty
- [ ] Silently ignore continue_if_empty / allow_empty options
- [x] Let Input validate unknown value (not-set) or know value.
- [x] Leverage InputFilter from apply complex rules for to determinate

[2019-12-31 21:32] weierophinney commented on #11
Hi,

We shoudl also have a look at the refactor I did: https://github.com/zendframework/zend-inputfilter/issues/13

It simplified A LOT of things regarding to continue/allow_empty, stateless, refactored collection input filter... and a lot of other things. I did that a lot of time ago so I don't exactly remember, but this refactor mostly answered to most of the problems you are referring to :).

I

[2019-12-31 21:32] weierophinney commented on #11
What is the status for the stateless input filters?

---

Originally posted by @RalfEggert at https://github.com/zendframework/zend-inputfilter/issues/39#issuecomment-169792626

[2019-12-31 21:32] weierophinney commented on #11
@RalfEggert Still in planning stages, though @bakura10 has done significant work on a fork he's maintaining. (I've asked him to document usage so I can actually evaluate the changes and the migration/usage impact.)

---

Originally posted by @weierophinney at https://github.com/zendframework/zend-inputfilter/issues/39#issuecomment-169793302

[2019-12-31 21:32] weierophinney commented on #11
Stateless input filter can only be done once we have stateless validators :).

---

Originally posted by @bakura10 at https://github.com/zendframework/zend-inputfilter/issues/39#issuecomment-169793524

[2019-12-31 21:32] weierophinney commented on #11
What do You think of renaming this component to something more accurate? I dont know, maybe inputparser?
Inputfilter name is very confusing. What it does is filtration and validation. For someone who does not know Zend libraries it is hard to find the difference between filter and inputfilter.

---

Originally posted by @xorock at https://github.com/zendframework/zend-inputfilter/issues/39#issueco

[2019-12-31 21:32] weierophinney commented on #11
@bakura10 @weierophinney What is the status of this? Is it being abandoned in favor of the eventually up-coming `zend-datavalidator` in the future?

---

Originally posted by @thexpand at https://github.com/zendframework/zend-inputfilter/issues/39#issuecomment-412441804

[2019-12-31 21:32] weierophinney commented on #11
@thexpand

Please keep in mind that the input-filter is doing something more than validation for values. The [`zend-datavalidator`](https://github.com/weierophinney/zend-datavalidator) will replace zend-validator and not zend-inputfilter.

---

Originally posted by @froschdesign at https://github.com/zendframework/zend-inputfilter/issues/39#issuecomment-412447700

[2019-12-31 21:32] weierophinney commented on #11
That's actually still to be determined. There's a fair amount of cross over
in how validators and inputs report errors, and my current work has been
around adding the input/data set functionality to the new component.

On Mon, Aug 13, 2018, 3:39 AM Frank Brückner <notifications@github.com>
wrote:

---

Originally posted by @weierophinney at https://github.com/zendframework/zend-inputfilter/issues/

[2019-12-31 21:32] weierophinney opened #12 "Input Fallback Value is not merged on Input::merge()"
I think the fallback value should be replaced when merge is done.

---

Originally posted by @Maks3w at https://github.com/zendframework/zend-inputfilter/issues/35

[2019-12-31 21:32] weierophinney commented on #12
I think this is bug not a BC break. I don't think someone is relying on current behavior. But yes also it can be BC break, but very unlikely. This is not documented, no tests.. so  I think we don't need to wait till 3.0

---

Originally posted by @svycka at https://github.com/zendframework/zend-inputfilter/issues/35#issuecomment-134206139

[2019-12-31 21:32] weierophinney commented on #12
Imho  the intended behavior of merge is to also take care of the fallback value. Therefore this qualifies as a bugfix. I really would like to see this fixed asap.

[code]

ping @Maks3w

---

Originally posted by @netiul at https://github.com/zendframework/zend-inputfilter/issues/35#issuecomment-145016514

[2019-12-31 21:32] weierophinney commented on #12
Fallback feature and merge method exists since a long time and nobody appreciate this before. My conclusion any change in the current behavior introduces a BC break.

---

Originally posted by @Maks3w at https://github.com/zendframework/zend-inputfilter/issues/35#issuecomment-145018402

[2019-12-31 21:32] weierophinney opened #13 "Use plurals for valid/invalid input get in InputFilterInterface"
`InputFilterInterface::getValidInput():array` and `InputFilterInterface::getInvalidInput():array` should be `InputFilterInterface::getValidInputs():array` and `InputFilterInterface::getInvalidInputs():array`

Both method return always a collection type (array)

---

Originally posted by @Maks3w at https://github.com/zendframework/zend-inputfilter/issues/21

[2019-12-31 21:32] weierophinney commented on #13
I made a pull request for it: https://github.com/zendframework/zend-inputfilter/pull/98

---

Originally posted by @jeanCarloMachado at https://github.com/zendframework/zend-inputfilter/issues/21#issuecomment-201954057

[2019-12-31 21:32] weierophinney opened #14 "[Refactor] ZF3"
Hi everyone,

Some years ago I've started a big refactor of Input Filter. You can see the initial work there: https://github.com/zf-fr/input-filter/pull/1

The idea was to take advantage of stateless component, by re-using refactored validator and filter components (made stateless too). It also aimed to be much faster, as well as simplify some concepts (mostly related to continue_if_empty, allow_e

[2020-04-05 23:47] fabioginzel commented on #2
+1

[2020-10-04 15:28] boesing opened #19 "Psalm integration"
### Feature Request

|    Q        |   A
|------------ | ------
| QA    | yes

#### Summary

As decided during the [Technical-Steering-Committee Meeting on August 3rd, 2020](https://github.com/laminas/technical-steering-committee/blob/main/meetings/minutes/2020-08-03-TSC-Minutes.md#vote-on-static-analysis-tooling), Laminas wants to implement [vimeo/psalm](https://github.com/vimeo/psalm) in all pac

[2020-10-04 17:44] boesing opened #20 "PHP 8.0 support"
### Feature Request

|    Q        |   A
|------------ | ------
| New Feature | yes

#### Summary

To be prepared for the december release of PHP 8.0, this repository has some additional TODOs to be tested against the new major version.

In order to make this repository compatible, one has to follow these steps:

- [ ] Modify `composer.json` to provide support for PHP 8.0 by adding the constraint

[2020-10-24 14:32] #20 closed, assigned to nobody

[2020-11-16 16:24] func0der opened #22 "InputFilterInterface::getInvalidInput() and InputFilterInterface::getValidInput() are incosistent with InputFilterInterface::add()"
### Bug Report

|    Q        |   A
|------------ | ------
| Versions | Since version 2.0 |

#### Summary

While `InputFilterInterface::add()` allows `InputInterface|InputFilterInterface|array|Traversable` to be added, `InputFilterInterface::getInvalidInput()` and `InputFilterInterface::getValidInput()` only return `InputInterface` to be returned.

This leads to inconsistent behavior, because `Inp

[2020-11-16 16:27] func0der commented on #22
Might I suggest, that `phpstan` is brought into this project also? It should have caught that mis-implementation at least in `BaseInputFilter` :)

[2020-11-25 10:59] tempfirstuser opened #23 "Missing documentation for Laminas\InputFilter\ArrayInput (InputFilter)"
The input fiter "ArrayInput" needs some explanations and code examples.

https://github.com/laminas/laminas-inputfilter/blob/2.11.x/src/ArrayInput.php

This is the old issue from here https://github.com/zendframework/zf2-documentation/issues/936 .

I was trying to find documentation about ArrayInput here https://docs.laminas.dev/laminas-inputfilter/ using searchbar but no results.

[2020-11-25 11:03] tempfirstuser commented on #23
Please, somebody change the label from "bug" to more appropriate name.

[2020-11-28 12:38] alex-patterson-webdev commented on #8
Same. I've created https://github.com/laminas/laminas-inputfilter/pull/24 if someone would like to take a look or comment

[2021-01-15 13:17] boesing opened #25 "Allow implementing own validator which (also) validates NotEmpty"
### Feature Request

|    Q        |   A
|------------ | ------
| New Feature | yes
| RFC         | kinda
| BC Break    | no

#### Summary

Hey there,

I've seen laminas/laminas-inputfilter#10 and the work which has been done in former zendframework package.
I am not sure if @Maks3w is still working on this but I'd like to propose some kind of `NotEmptyValidatorImplementedInterface`, which tells t

[2021-01-15 13:19] boesing commented on #25
Ah, nvm - we can just use the deprecated annotation `@AllowEmpty`
Just had too less informations to understand the initial problem of my team.

[2021-01-15 13:19] #25 closed, assigned to nobody

[2021-02-18 13:36] rutek opened #27 "InputFilterInterface::getMessages() - invalid type hint"
### Bug Report

Interface `InputFilterInterface` contains method `getMessages` with return type hint `string[]` which is invalid.

https://github.com/laminas/laminas-inputfilter/blob/78f595b6531272880cc65efa91da25d4a34246cd/src/InputFilterInterface.php#L147

`BaseInputFilter` implementing this interface returns `string[][]`, for example:

[code]

It's result of `BaseInputFilter:;getMessages` creat

[2021-02-18 13:44] froschdesign commented on #27
@rutek
Please have a look on the related issue report: #19
Every help is welcome! 👍

[2021-03-16 14:17] #19 closed, assigned to nobody

[2021-03-19 15:25] devkokov commented on #2
+100

[2021-05-21 13:41] Ocramius opened #32 "CI failing on documentation build due inline HTML in docs"
### Bug Report

|    Q        |   A
|------------ | ------
| Version(s)  | 2.12.0

#### Summary

See failure:

[code]

https://github.com/laminas/laminas-inputfilter/runs/2122275541?check_suite_focus=true#step:3:286

[2021-06-17 17:18] rarog opened #34 "Deprecated properties in docs"
### Bug Report

Documentation lists deprecated properties.

|    Q        |   A
|------------ | ------
| Version(s)  | 2.12.0

#### Summary

https://docs.laminas.dev/laminas-inputfilter/specs/ lists following

[code]
Both properties are deprecated since 2.4.8

[2021-06-18 07:36] froschdesign commented on #34
And also here:

* https://docs.laminas.dev/laminas-inputfilter/application-integration/usage-in-a-laminas-mvc-application/
* https://docs.laminas.dev/laminas-inputfilter/application-integration/usage-in-a-mezzio-application/

Tasks:

* Update related pages with alternative usage
* Create a migration guide

[2021-08-18 16:25] cooperaj commented on #7
https://github.com/zendframework/zend-inputfilter/issues/9 this issue just took up a whole afternoon. I was neck deep in filter chain debugging when a colleague found the above issue and we were able to turn off the auto injection.

[2021-09-10 13:29] gennadiylitvinyuk opened #35 "Documentation refers to non-existent alias not_empty"
### Bug Report

|    Q        |   A
|------------ | ------
| Version(s)  | Current documentation

#### Summary

[The documentation](https://docs.laminas.dev/laminas-inputfilter/intro/) refers to the non existent validator alias `not_empty`, `string_length`

[2021-09-10 13:34] gennadiylitvinyuk commented on #35
There are multiple valid alternatives available.

For example for NotEmpty-Validator:

- notempty
- NotEmpty
- notEmpty

Some other documentation pages user class names...

What is now the preferred style?

[2021-09-10 13:39] froschdesign commented on #35
@gennadiylitvinyuk

The fully qualified class name of the validators and filters. This can be checked by an IDE and provides automatic code completion.

[2021-10-25 20:30] cbichis opened #38 "Add possibility to reference other input (using token name) from the same input filter"
### Feature Request

|    Q        |   A
|------------ | ------
| New Feature | yes
| RFC         | no
| BC Break    | no

#### Summary

It would be nice to be able to get the filtered/validated value for other input element (referenced with token), as per form example for Identical Validator.

https://docs.laminas.dev/laminas-validator/validators/identical/#form-elements

Currently it seems impos

[2021-10-25 20:45] froschdesign commented on #38
@cbichis
You can use the callback validator and the second parameter on the callback function which provides all values of the input-filter:

https://github.com/laminas/laminas-inputfilter/blob/b6ab28b425e626b12488fec243e02d36d8dffeff/src/BaseInputFilter.php#L239-L241

https://github.com/laminas/laminas-inputfilter/blob/b6ab28b425e626b12488fec243e02d36d8dffeff/src/Input.php#L432-L433

[2021-10-26 07:07] cbichis commented on #38
Thanks, @froschdesign . As far as I understand the value provided is the unfiltered/raw value not the filtered one (eventually even already validated better).

Let's give an example whys is this needed: let's say we have 2 inputs supplying id's. A second input having id may be correct depending on the first input with id.

Initially the first id is filtered (transforming the string id, trimming, s

[2021-10-26 07:21] froschdesign commented on #38
@cbichis
Any help is welcome, so pull requests are always appreciated. Go for it! 👍

[2021-10-27 09:24] cbichis opened #39 "InputFilterManager and merging/adding input filters to a base input filter"
|    Q        |   A
|------------ | ------
| New Feature | yes
| RFC         | no
| BC Break    | no

#### Summary

Currently there is no out of the box way to construct an Input filter by InputFilterManager by merging multiple Input Filters without  having to construct a factory where each of the merged input filters to be requested from IFM first.

So constructing the final IF is now like this:

[2021-10-27 13:52] Ocramius commented on #39
Rather than merging, which requires `InputFilter` to provide insight into its internals (breaks encapsulation), I'd say that input filters should be chained perhaps?

This seems normal/OK? Not sure why that's a problem...

I didn't understand the phrasing here.

The input filter manager is totally optional: I personally assemble input filters manually, without any DIC involved.

[2021-11-02 13:34] BigMichi1 opened #41 "RenameUpload filter breaks UploadFile validator"
### Bug Report

|    Q        |   A
|------------ | ------
| Version laminas-validator | 2.15.0
| Version laminas-filter | 2.12.0
| Version laminas-inputfilter | 2.12.0

#### Summary

when the `RenameUpload` filter is added to a field containing the `UploadFile` validator the `UploadFile` validator fails and issues an error about a possible attack

see also https://github.com/laminas/laminas-filte

[2021-11-02 14:05] froschdesign commented on #41
@BigMichi1
As written before:

The file validators are run **before** the filters. Please compare with:

* https://docs.laminas.dev/laminas-inputfilter/file-input/
* https://github.com/laminas/laminas-inputfilter/blob/b6ab28b425e626b12488fec243e02d36d8dffeff/test/FileInput/HttpServerFileInputDecoratorTest.php#L97-L113

Please add a full code example which allows to reproduce the problem or create

[2021-11-02 14:16] froschdesign commented on #41
@BigMichi1
Please set the type for the input:

[code]

See the related documentation: https://docs.laminas.dev/laminas-inputfilter/file-input/#basic-usage

[2021-11-02 14:33] BigMichi1 commented on #41
thank you so much, exactly this line was missing. it looks like I should not have started to use that array notation, I was also playing around with the examples from https://docs.laminas.dev/laminas-inputfilter/file-input/#basic-usage and they worked. just overlooked this one little piece of information

[2021-11-02 14:33] #41 closed, assigned to nobody

[2021-11-08 10:36] vaclavvanik opened #42 "CollectionInputFilter - isValid does not pass $context variable"
[CollectionInputFilter::isValid($context = null)](https://github.com/laminas/laminas-inputfilter/blob/2.13.x/src/CollectionInputFilter.php#L211) does not pass $context variable to [nested input filter](https://github.com/laminas/laminas-inputfilter/blob/2.13.x/src/CollectionInputFilter.php#L240). I do not know if it is expected behavior.

I need to get whole input filter $context from my nested va

[2021-11-09 08:07] froschdesign commented on #42
@vaclavvanik
The related DocBlock contains:

https://github.com/laminas/laminas-inputfilter/blob/b6ab28b425e626b12488fec243e02d36d8dffeff/src/CollectionInputFilter.php#L209

But I don't know why it is ignored.

Another input filter class is not needed. Please create a pull request and update the class `Laminas\InputFilter\CollectionInputFilter` directly. The tests should show if there are any side

[2021-11-26 13:04] froschdesign opened #44 "PHP 8.1 support"
### Feature Request

|    Q        |   A
|------------ | ------
| New Feature | yes

#### Summary

PHP with [version 8.1 is released](https://www.php.net/releases/8.1/index.php) and for this component the support of the new version is still missing.

[2021-11-27 14:18] froschdesign commented on #35
Fixed with #36

[2021-11-27 14:18] #35 closed, assigned to nobody

[2021-11-27 14:20] #32 closed, assigned to froschdesign

[2021-11-27 16:57] vaclavvanik commented on #44
Inputfilter depends on laminas-filter which does not have php 8.1 support.

Thus I think laminas-filter should be upgraded first.

[2021-11-27 18:36] froschdesign commented on #44
@vaclavvanik

Any help is welcome! 👍🏼

[2021-12-01 19:14] #42 closed, assigned to nobody

[2021-12-02 14:47] weierophinney commented on #44
Completed with #48.

[2021-12-02 14:47] #44 closed, assigned to weierophinney

[2022-03-21 21:56] boesing opened #51 "Removal of `container-interop/container-interop`"
### Feature Request

|    Q        |   A
|------------ | ------
| New Feature | yes
| BC Break    | yes

#### Summary

This issue is created to keep track of the status of getting rid `container-interop` in the `laminas` components.

[2022-06-11 08:50] lampi87 opened #55 "psr-container-stub causes Declaration incompatibile issues on using PHP preload"
### Bug Report

|    Q        |   A
|------------ | ------
| Version(s)  | 2.16.0

#### Summary

File `.psr-container-stub.php` causes problems using PHP preload because it has a more strict convetion than psr\container in version 1.1
Removing this file locally solves all related issues. E.g. see issue 23 at laminas-crypt

#### Workaround

Explicit remove file from preload files

[2022-06-11 08:52] Ocramius commented on #55
Wait, do you preload it because it's a PHP file? It really shouldn't be done, as it isn't sources 😱

[2022-06-11 08:55] lampi87 commented on #55
I preload php files except test related stuff (subfolder test or similar)

[2022-06-11 08:56] Ocramius commented on #55
You should only preload what is in autoload definitions in the `composer.json` files

[2022-06-11 08:56] #55 closed, assigned to Ocramius

[2022-06-11 09:18] Ocramius commented on #55
@lampi87 btw, feel free to send a patch to rename the file to `.php.stub`, instead of `.stub.php` 👍

[2022-06-15 14:05] settermjd commented on #51
If this hasn't been done, I'm happy to take it on.

[2022-07-05 16:21] wilcol opened #58 "[BUG] Newly introduced string check for validation groups in BaseInputFilter is causing problems for CollectionFieldset with integers as Id's"
Since 2.16.0 there's an added string check. This check throws an exception when applying a validation group that contains integers instead of strings. The problem will occur when using a CollectionFieldset with entities that have integers as identifiers.

[code]

Solution could be to either remove the `!is_string()` check or to add an additional `is_int()` check as well `! (is_string($name) || is_

[2022-07-05 16:41] Ocramius commented on #58
Before looking at solutions, we'd need a test case that shows the behavior before/after `2.16.0`.

[2022-07-06 15:50] WillyBaldy opened #59 "Laminas\InputFilter\Factory::createInputFilter erroneous use of Traversable"
### Bug Report

On version 2.16

#### Summary

Right now it's not really a bug, it's a problem with the PHPDoc that leads PHPStorm to report a problem.

I am passing an array to `Laminas\InputFilter\Factory::createInputFilter()` and because an array doesn't really implement any of the types listed (`InputFilterSpecification|CollectionSpecification|Traversable|InputFilterProviderInterface`) it's no

[2022-07-06 15:52] Ocramius commented on #59
Can you please try newer releases?

Also, can you pin to an exact code location and full error? I can't seem to find `InputFilterFactory`

[2022-07-06 15:58] WillyBaldy commented on #59
My apologies, I was using an alias for the use! I edited my "bug" report. I will try to come up with something more precise, but I just want to make sure it's clear it's not a PHP error, it's a PHPStorm "warning" based on invalid PHPDoc, it doesn't affect the code execution.

I will also try later on today newer releases for PHP 7.4, that's the version my project is at right now.

EDIT: I just che

[2022-07-20 08:15] renovate[bot] opened #64 "Dependency Dashboard"
This issue lists Renovate updates and detected dependencies. Read the [Dependency Dashboard](https://docs.renovatebot.com/key-concepts/dashboard/) docs to learn more.<br>[View this repository on the Mend.io Web Portal](https://developer.mend.io/github/laminas/laminas-inputfilter).

## Awaiting Schedule

The following updates are awaiting their schedule. To get an update now, click on a checkbox be

[2022-07-20 12:55] Ocramius commented on #59
The input filter specification looks OK:

https://github.com/laminas/laminas-inputfilter/blob/8c663d35926f8276b4bf1a2c571310eb285f80cb/src/Factory.php#L27

Gonna close here: the right way to reproduce this again is to create a test that shows this as a type error appearing in our `psalm-baseline.xml`, but otherwise, the specification seems correct to me.

[2022-07-20 12:55] #59 closed, assigned to Ocramius

[2022-07-20 12:58] Ocramius commented on #51
Bumping this to latest should suffice:

https://github.com/laminas/laminas-inputfilter/blob/9d0269727615590301f467397e28e0bcfefb25e9/composer.json#L36

[2022-07-25 15:03] Ocramius commented on #58
Closing as per #60

[2022-07-25 15:03] #58 closed, assigned to nobody

[2022-07-26 11:29] darckking opened #71 "[RFC]: Allow empty array validation group"
## RFC

In my project I use laminas-inputfilter together with laminas-api-tools/api-tools-rest, laminas-api-tools/api-tools-content-validation.
I implemented patchList(), to be able to patch multiple items at once.
The challenge here is how to match change sets with items we need to patch. An obvious idea would be to add an 'id' input to change set, but
1. This is wrong as we are not going to chan

[2022-07-27 08:25] Ocramius commented on #71
Changing this would lead to BC issues, no?

I think only looking at tests related to this will give you a response to that: check which tests fail, then `git blame` on them to have an idea of where they came from.

[2022-07-27 15:12] darckking commented on #71
The unit tests are passing, so it's not a BC (unless tests can't detect it).

However it is a behavior change.
Let's look at case when you send an empty change set (no matter it is a PATCH of singular entity or list of entities), only in this case ContentValidationListener::validatePatch() will try to set an empty array validation group.

**Scenario 1** - InputFilter has required inputs without fa

[2022-07-29 12:43] froschdesign commented on #71
I don't know if this works in your use case, but have you checked the optional input filter?

https://docs.laminas.dev/laminas-inputfilter/optional-input-filters/

[2022-07-29 13:45] darckking commented on #71
I thought about OptionalInputFilter.
It kind of works in my case. As it won't try to validate inputs or return values when an empty data is set. The part I don't like here is that I'll have to create 2 InputFilters:
1) for POST / PUT which is a usual InputFilter (obviously I don't want to allow an empty data for these methods)
2) for PATCH which is OptionalInputFilter.

[2022-07-29 14:02] froschdesign commented on #71
The problem is that a validation group is defined as a subset of the data to be validated so an empty makes no sense here. This means that all inputs should be validated if no validation group is set.
Anything else complicates the usage of the method and also its explanation.

The method already allows two different data types – which is *unbeautiful* –, so an empty array with its own behaviour go

[2022-07-29 14:03] froschdesign commented on #71
The problem is that a validation group is defined as a subset of the data to be validated so an empty makes no sense here. This means that all inputs should be validated if no validation group is set.
Anything else complicates the usage of the method and also its explanation.

The method already allows two different data types – which is *unbeautiful* –, so an empty array with its own behaviour go

[2022-07-29 14:36] darckking commented on #71
Yes, this is correct. The BaseInputFilter::$validationGroup is null after object instantiation, so yes - all inputs should be validated. However I'm trying to set an empty subset, so when it's an empty array - it is set and should behave like usually.

Semantically the empty validation group is like "no-op" - nothing to validate and nothing to return from getValues().
That's my only argument in th

[2022-07-29 14:47] froschdesign commented on #71
It's clear what you want, but an empty array is not a subset or subgroup therefore it does not make sense to use this as an optional validation.

[2022-07-29 14:59] #71 closed, assigned to nobody

[2022-09-02 09:53] g10-fred commented on #2
Can this be done when using a InputFilterSpecification provided by a Fieldset?

`class MyFieldset extends Fieldset implements InputFilterProviderInterface`

If I add a callback validator to my InputFilterSpecification I can't find a way to access the ValidatorChain, the "$this->getInputs()" function is undefined and I can't see an alternative.

[2022-09-20 08:38] #51 closed, assigned to settermjd

[2022-09-25 16:53] gszy opened #75 "Static analysis tools may not understand typehints using Psalm virtual types"
For example (though this may be the only case of this issue in this project, I haven’t checked in detail yet) in [InputFilterProviderInterface.php:17](https://github.com/laminas/laminas-inputfilter/blob/2.21.0/src/InputFilterProviderInterface.php#L17), the return type of `InputFilterProviderInterface::getInputFilterSpecification()` is specified as `InputFilterSpecification|CollectionSpecification`

[2022-10-26 12:32] ivomasterche commented on #75
Same for Laminas\InputFilter\InputFilter
/**
     * Add an input to the input filter
     *
     * @param  InputSpecification|Traversable|InputInterface|InputFilterInterface $input
     * @param  null|string $name
     * @return $this
     */
    public function add($input, $name = null)

Looking for type InputSpecification, not accepting array (VS Code with PHPTools - showing warning) .
(https://

[2022-10-26 14:36] Ocramius commented on #75
I would say that these problems are to be fixed in the tooling, not here.

Value specifications are already quite popular, such as in [`monolog/monolog`](https://github.com/Seldaek/monolog/blob/720488632c590286b88b80e62aa3d3d551ad4a50/src/Monolog/Logger.php#L30-L32)

These features are both used (and useful) in both `phpstan/phpstan` and `vimeo/psalm`, and indeed, editors will need to catch up, at

[2022-10-26 14:36] #75 closed, assigned to Ocramius

[2022-10-29 16:35] gszy commented on #75
In case of `Logger.php`, there are some PHPStan-specific type annotations:

[code]

That are used in some PHPStan-specific `param` and `return` annotations, for example:

[code]

But are not used in any non-PHPStan-specific annotations:

[code]

So, in this case, PHPStan would use its advanced typehints, while other tools would not need to worry about them.

[2022-10-29 17:18] Ocramius commented on #75
I used to think that way too: having the more advanced types defined in `@psalm-` and `@phpstan-` -prefixed annotations only.

Practically, the ecosystem needs a push forward, and if you want a problem to be noticed, you make it bigger 👍

I suggest you raise an issue on the repositories tracking progress for your type inference toolchain of choice instead.